# Security
.env
.env.*

# Python
.venv/
__pycache__/
*.pyc
.python-version

# JavaScript / React
node_modules/
dist/
build/
.eslintcache

# Database
*.db
*.sqlite3

# IDE / OS
.vscode/
.idea/
.DS_Store
